<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qira.portaria"
    android:versionCode="200"
    android:versionName="2.0"
    >

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".WalkieTalkieActivity"
            android:theme="@style/SuperCoolAppBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WalkieTalkieActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/SuperCoolAppBarActivity">

        </activity>


        <activity
            android:name=".SipSettings"
            android:label="set_preferences"
            android:theme="@style/SuperCoolAppBarActivity">

        </activity>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/SuperCoolAppBarActivity">

        </activity>


        <activity
            android:name=".CallAcitivity"
            android:theme="@style/SuperCoolAppBarActivity">

        </activity>


        <receiver
            android:name=".IncomingCallReceiver"
            android:label="Call Receiver" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c7c54aeec72041be6cfa2f90c1a46a0620061ba8" />
    </application>
    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
</manifest>
